
.columnFlexbox{
   
    display: flex;
    flex-direction: column;

}

.rowFlexBox{
    display: flex;
    flex-direction: row;
}

.card{
    
    border: 2px solid #15171c;
    width: 100%;
    padding: 1rem;
    transition: 300ms ease-in-out;
    animation: opacity 800ms;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
}

.formBox{
    
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.photoBox{
    width: 30%;
}

.gp1Box{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-left: 6rem;

}

.input{
  padding: 0.75rem; /* Aumentando o padding para uma área de clique maior */
  border: 1px solid #ccc;
  border-radius: 8px; /* Bordas mais arredondadas */
  width: 100%;
  margin-top: 0.5rem;
  transition: border-color 0.3s ease;
}

.gp1{
    
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.gp1_2{
    width: 90%;
    margin-left: 2rem;
    margin-right: 5rem;
}

.gp1_1{
    width: 90%;
}

.gp2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gp2_1{
    gap: 1rem;
    width: 80%;
}

.gp2_2{
    gap: 1rem;
    width: 80%;
}

.gp3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.gp3_1{
    width: 80%;
}

.gp3_2{
    width: 80%;
}

.gp3_3{
    width: 80%;
}

.gp4{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.textao{
    
    width: 100%;
    height: 300px;
    padding: 1rem;
}
#iconePf{
    font-size:30px;
    
}
#Redondo{
  width: 20px; /* Largura desejada */
  height: 20px; /* Altura desejada */
  margin-right: 5px; /* Espaçamento à direita para separar os radio buttons */
}
#pj{
  width: 20px; /* Largura desejada */
  height: 20px; /* Altura desejada */
  margin-right: 5px; /* Espaçamento à direita para separar os radio buttons */
}
#label-photo {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-tipo_de_pessoa {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-pf {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-pj {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-lojas {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-nome {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-sexo {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-data-de-nascimento {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-rg {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-cpf {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-razao-social {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-nome-fantasia {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-CNPJ {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-inscricao-estadual {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-inscricao-municipal {
  font-size: 15px;
  font-family: Arial, sans-serif;
}

#label-suframa {
  font-size: 15px;
  font-family: Arial, sans-serif;
}
