.formBoxEndereco{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
}


.gp3{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr ;
}


.busca{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px; 
    width: 100%;
    margin-top: 0;
    transition: border-color 0.3s ease;
    padding-right: 1rem;
    padding-bottom: 0rem;

}

.busca:focus-within{
  border-color: #007bff; /* Cor da borda ao focar */
  outline: none; /* Removendo outline padrão */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Sombra suave ao focar */
}

.inputBusca{
  margin-top: 0;
  border: none; /* Bordas mais arredondadas */
  background: none;
  padding: 0.75rem;
}

.inputBusca:focus{
  border: none; 
  background: none;
  outline: none; /* Removendo outline padrão */
}

.inputButton{
  border: none;
  background: none;
}

#label-cep {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-estado {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-cidade {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-bairro {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-rua {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-numero {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
