.formBoxEndereco{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
}

.input{
  padding: 0.75rem; /* Aumentando o padding para uma área de clique maior */
  border: 1px solid #ccc;
  border-radius: 8px; 
  width: 100%;
  margin-top: 0;
  transition: border-color 0.3s ease;
}





.gp3{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr ;
}


.busca{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px; 
    width: 100%;
    margin-top: 0;
    transition: border-color 0.3s ease;
    padding-right: 1rem;
}

.inputBusca{
  border: none; /* Bordas mais arredondadas */
  background: none;
}

.inputBusca:hover{
  border: none; 
  background: none;
}

.inputButton{
  border: none;
  background: none;
}

#label-cep {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-estado {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-cidade {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-bairro {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-rua {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-numero {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
