.formBoxEndereco{
    display: flex;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
}

.card{
    border: 2px solid #15171c;
    width: 100%;
    padding: 1rem;
    transition: 300ms ease-in-out;
    animation: opacity 800ms;
}

.gp3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 1rem;
}

.gp3-1{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
}

.busca-cep{
    display: flex;
}
#label-cep {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-estado {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-cidade {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-bairro {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-rua {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
  #label-numero {
    font-size: 15px;
    font-family: Arial, sans-serif;
  }
  
