.card1 {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px #2e3848(0, 0, 0, 0.1);
    margin: 1rem 0;
    overflow: hidden;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card1:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardList {
    align-items: center;
    display: flex;
    
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cardAllInfos {
    align-items: center;
    
    border: 2px solid #15171c;
    border-radius: 8px;
    margin-top: 1rem;
    overflow: hidden;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.czUqgZ{
    z-index: 2;
}
.cardAllInfos:hover {
    z-index: 1;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardNameButton {
    align-items: center;
    background-color: #2e3848;
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding: 0 1rem;
}

.cardName {
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}

.addButton {
    color: black;
}

.addButtonBack {
    align-items: center;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.addButtonBack:hover {
    background-color: #f0f0f0;
    border-color: #15171c;
}

.cardInfos {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 1rem;
    padding: 1rem 0;
}

.cardListItem {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: flex-start; /* Alinha os itens no início da linha */
    gap: 1rem; /* Espaçamento entre os itens */
    width: 100%; /* Garante que o item ocupe toda a largura disponível */
}
.preferences{
  width:100vh;
  padding:1vh;
  justify-content:flex-start;
}
#form-contato {
    align-items: center;
}
