.container-dashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin: 25vh auto;
  width: 70vh; /* Altura fixa ajustada */
  height: 30vh; /* Altura fixa ajustada */
  overflow: hidden;
  flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
}

.card-opt {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: auto;
  width: 30vh;
  height: 25vh;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.card-opt:hover {
  transform: translateY(-5px);
}

.card-opt h4 {
  margin-bottom: 10px;
  color: #333;
}

.card-opt p {
  font-size: 1.3rem;
  color: #666;
}

.icon-people {
  font-size: 10rem;
  color: #007bff;
  margin-bottom: 10px;
}
