
.container-dashboard {
  padding: 20px;
  flex-wrap:wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow:unset;
  gap: 20px;
  height:100vh;

}

.card-opt{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 300px;
  height:  250px;
  color: black;
  border-radius: 20px;
  border: 2px solid black;
  transition: 300ms all ease-in-out;
  margin: bottom 20px;
  text-align: center;
}


.card-opt:hover{
  scale: 1.1;
}

a{
  text-decoration: none;
}

.icon-people{
  width: auto;
  height: 100px;
  margin-top: 4rem;
}

.icon-lupa{
  width: auto;
  height: 100px;
  margin-top: 5.5rem;

}