.card{
    border: 2px solid #15171c;
    width: 100%;
    padding: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.formBox{
    padding: 2rem;
    display: flex;
    gap: 1rem;
 
}


.column-flex-box{
    display: flex;
    flex-direction: column;
}

.row-flex-box{
    display: flex;
    flex-direction: row;
}