.gap1{
    gap: 1rem;
}

.gap2{
    gap: 2rem;
}

.column-flex-box{
    display: flex;
    flex-direction: column;

}

.row-flex-box{
    display: flex;
    flex-direction: row;
}

.card{
    border: 2px solid #15171c;
    width: 100%;
    padding: 1rem;
}



.formBox{
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.photoBox{
    width: 30%;
}


.gp1-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.gp1{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.gp1-2{
    width: 80%;
}

.gp2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gp2-1{
    gap: 1rem;
    width: 80%;
}

.gp2-2{
    gap: 1rem;
    width: 80%;
}

.gp3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.gp3-1{
    width: 80%;
}

.gp3-2{
    width: 80%;
}

.gp3-3{
    width: 80%;
}

.gp4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

